:root{
    font: 12px;
    font-family: poppins;
}
.mainbox{
display: flex;
flex-direction: column;
align-items: center;
justify-items: ;
padding: 100px;
background-image: url(bgmain.jpg);
background-size: cover;
height: 100vh;
margin: -77px;
}
form{
    background-image: url(bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 700px;
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0px 50px 50px;
}
label{
    color: rgb(255, 255, 255);
}
#name{
    width: 650px;
    height: 30px;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 6px;
    padding: 10px;
}
#email{
    width: 650px;
    height: 30px;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 6px;
    padding: 10px;
}
#password{
    width: 650px;
    height: 30px;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 6px;
    padding: 10px;
}
.save{
  width: 657px;
  height: 62px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 9px;
  background-color: rgb(1, 66, 44);
  color: rgb(254, 254, 254);
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px;
}

